
<div class="float-right d-none d-sm-inline PrinCont">
<p>Ho...................................la</p>

<div id="CargamentoTable">

                  
         <table id="TablaCargamento" class="table table-striped" style="width:100%">
                      <thead>
            <tr>
                <th>Nit</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Celular</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                        <tr>
                        <td>64654645</td>
                        <td>Juan</td>
                        <td>Sánchez</td>
                        <td>3124323344</td>
                        <td>
                            <div class="btn-group col-4" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-dark"><a  class="CRUDOP" asp-controller="Proveedor" asp-action="Edicion">Editar</a></button>
                                <button type="button" class="btn btn-light"><a class="CRUDOP" asp-controller="Proveedor" asp-action="Elimina"> Eliminar</a></button>
                            </div>
                       </td>
                        </tr>
                    
        </tbody>
         </table>   
        
        

      </div>
      </div>